/*MOVIES-CARD =========================*/
.movies__img-wrap {
  position: relative;
  cursor: pointer;
}

.movies__item-img {
  display: block;
  width: 100%;
  object-fit: cover;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.movies__label-favorite {
  opacity: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 21px;
  background: #313131;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  cursor: pointer;
  transition: .3s ease;
}

.movies__img-wrap:hover .movies__label-favorite {
  opacity: 1;
  transition: .3s ease;
}

.movies__label-favorite:hover {
  color: var(--color__black);
  background: var(--color__green);
  transition: .3s ease;
}

.movies__label-favorite_active {
  opacity: 1;
  color: transparent;
  font-size: 0;
  width: 21px;
  height: 21px;
  background: url(../../images/icons/icon__favorite_active.svg) no-repeat;
}

.movies__label-favorite_active:hover {
  background: url(../../images/icons/icon__favorite_delete.svg) no-repeat;
}

.movies__info {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 0;
}

.movies__item-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.movies__duration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 18px;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  color: var(--color__gray);
  background: #2F2F2F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .movies__info {
    padding: 25px 0 0;
  }

  .movies__item-title {
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 424px) {
  .movies__item-title {
    font-size: 12px;
    line-height: 15px;
    max-width: 210px;
  }
}
/*========================= MOVIES-CARD*/
