.personal {
  position: relative;
  display: flex;
  gap: 17px;
  align-items: center;
  text-decoration: none;
  color: var(--color__white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.personal::after {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  background: url(../../images/icons/icon__personal.svg) no-repeat;
  background-size: contain;
  width: 26px;
  height: 30px;
}

@media (max-width: 768px) {
  .personal {
    padding-bottom: 92px;
  }
}

@media (max-width: 424px) {
  .personal {
    padding-bottom: 48px;
  }
}
