/*PROMO ================*/
.promo {
  display: grid;
  gap: 102px;
  padding: 50px 0 60px;
}

.promo__title {
  max-width: 626px;
  color: var(--color__white);
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.promo__img {
  justify-self: end;
  width: 100%;
  max-width: 722px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 992px) {
  .promo {
    gap: 140px;
    justify-content: center;
    padding: 300px 0 70px;
  }

  .promo__title {
    text-align: center;
    max-width: 680px;
  }

  .promo__img {
    max-width: 680px;
    height: 230px;
    justify-self: center;
  }
}

@media (max-width: 424px) {
  .promo {
    max-width: 100%;
    gap: 60px;
    justify-content: center;
    padding: 183px 0 40px;
    overflow: hidden;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding: 0 5px;
    text-align: center;
  }

  .promo__img {
    width: auto;
    justify-self: center;
    max-height: 230px;
    object-fit: cover;
    overflow: hidden;
  }
}
/*============= PROMO*/
