:root {
  --color__white: #fff;
  --color__black: #202020;
  --color__dark: #272727;
  --color__gray: #8B8B8B;
  --color__gray_dark: #303030;
  --color__gray_light: #DADADA;
  --color__blue: #4285F4;
  --color__blue_dark: #073042;
  --color__green: #3DDC84;
  --color__red: #EE3465;

  --width-container_1280: 1140px;
  --width-container_768_big: 708px;
  --width-container_768: 668px;
  --width-container_320_big: 292px;
  --width-container_320: 284px;
}

.body {
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: var(--color__white);
  background-color: var(--color__black);
}

.container-fluid {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: var(--width-container_1280);
  margin: 0 auto;
}

.section-title {
  display: flex;
  position: relative;
  min-height: 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--color__gray_light);
}

.link {
  transition: .2s ease;
}

.link:hover {
  opacity: .7;
}

.btn {
  transition: .2s ease;
}

.btn:hover {
  opacity: .8;
}

.theme_dark_blue {
  background: var(--color__blue_dark);
}

.theme_dark {
  background: var(--color__dark);
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: var(--width-container_768);
  }
  .container_size_big {
    max-width: var(--width-container_768_big);
  }
}

@media (max-width: 424px) {
  .container {
    max-width: var(--width-container_320);
  }
  .container_size_big {
    max-width: var(--width-container_320_big);
  }
  .section-title {
    font-size: 18px;
    line-height: 22px;
  }
  .theme_dark {
    background: transparent;
  }
}

/*HEADER ==============*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

.header__logo {
  background: url(../../images/logo.svg) no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: .2s ease;
}

.header__personal {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__personal-signup {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color__white);
}

.header__personal-signin {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  background: var(--color__green);
  padding: 8px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 424px) {
  .header__personal {
    gap: 14px;
  }
  .header__personal-signup {
    font-size: 10px;
  }
  .header__personal-signin {
    font-size: 10px;
    padding: 5px 12px;
  }
}
/*============ HEADER*/

/*LEAD ================*/

.lead {
  display: grid;
  gap: 102px;
  padding: 50px 0 60px;
}

.lead__title {
  max-width: 626px;
  color: var(--color__white);
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.lead__img {
  justify-self: end;
  width: 100%;
  max-width: 722px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 992px) {
  .lead {
    gap: 140px;
    justify-content: center;
    padding: 300px 0 70px;
  }
  .lead__title {
    text-align: center;
    max-width: 680px;
  }
  .lead__img {
    max-width: 680px;
    height: 230px;
    justify-self: center;
  }
}

@media (max-width: 424px) {
  .lead {
    max-width: 100%;
    gap: 60px;
    justify-content: center;
    padding: 183px 0 40px;
    overflow: hidden;
  }
  .lead__title {
    font-size: 31px;
    line-height: 39px;
    padding: 0 5px;
    text-align: center;
  }
  .lead__img {
    width: auto;
    justify-self: center;
    max-height: 230px;
    object-fit: cover;
    overflow: hidden;
  }
}

/*============= LEAD*/

/*ABOUT ===============*/

.about {
  padding: 110px 0;
}

.about__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 70px 0 110px;
}

.about__text-item {
  display: grid;
  gap: 26px;
}

.about__text-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about__text-desc {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about__timing {
  display: grid;
  grid-template-columns: 228px auto;
}

.about__timing-item {
  display: grid;
  gap: 14px;
}

.about__timing-title {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  min-height: 36px;
}

.about__timing-title_theme_green {
  background: var(--color__green);
  color: #000;
}

.about__timing-title_theme_dark {
  background: var(--color__gray_dark);
}

.about__timing-desc {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--color__gray);
}

@media (min-width: 768px) and (max-width: 992px) {
  .about {
    padding: 90px 0;
  }
  .about__text {
    gap: 30px;
    margin: 70px 0 93px;
  }
  .about__text-item {
    gap: 22px;
  }
  .about__text-desc {
    font-size: 12px;
    line-height: 18px;
  }
  .about__timing {
    grid-template-columns: 140px auto;
  }
}

@media (max-width: 424px) {
  .about {
    padding: 70px 0;
  }
  .about__text {
    grid-template-columns: 1fr;
    gap: 56px;
    margin: 60px 0;
  }
  .about__text-item {
    gap: 16px;
  }
  .about__text-title {
    font-size: 18px;
    line-height: 22px;
  }
  .about__text-desc {
    font-size: 11px;
    line-height: 16px;
  }
  .about__timing {
    grid-template-columns: 100px auto;
  }
  .about__timing-item {
    gap: 10px;
  }
  .about__timing-title {
    font-size: 11px;
    line-height: 13px;
    min-height: 35px;
  }
  .about__timing-desc {
    font-size: 11px;
    line-height: 13px;
  }
}

/*================ ABOUT*/

/*TECH ================*/

.tech {
  padding: 100px 0;
}

.tech__text {
  display: grid;
  justify-content: center;
  gap: 26px;
  margin: 90px 0 100px;
}

.tech__text-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.tech__text-desc {
  max-width: 460px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.tech__skills {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tech__skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  background: var(--color__gray_dark);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 90px;
  min-height: 60px;
  cursor: default;
}

@media (min-width: 768px) and (max-width: 992px) {
  .tech {
    padding: 90px 0;
  }
  .tech__text {
    gap: 22px;
    margin: 80px 0 83px;
  }
  .tech__text-desc {
    font-size: 12px;
    line-height: 18px;
  }
  .tech__skills-item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    min-height: 57px;
  }
}
@media (max-width: 424px) {
  .tech {
    padding: 70px 0;
  }
  .tech__text {
    gap: 24px;
    margin: 60px 0 50px;
  }
  .tech__text-title {
    font-size: 30px;
    line-height: 36px;
  }
  .tech__text-desc {
    font-size: 11px;
    line-height: 16px;
  }
  .tech__skills {
    flex-wrap: wrap;
    max-width: 178px;
    justify-content: start;
    margin: 0 auto;
  }
  .tech__skills-item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    min-height: 57px;
  }
}
/*================ TECH*/

/*STUDENT =============*/

.student {
  padding: 110px 0 105px;
}

.student__about {
  display: grid;
  grid-template-columns: 600px auto;
  justify-content: space-between;
  padding: 66px 0 101px;
}

.student__about-text {
  display: grid;
}

.student__about-photo {
  object-fit: cover;
  width: 100%;
  max-width: 270px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.student__about-name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.student__about-job {
  margin: 0;
  padding: 18px 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.student__about-desc {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.student__about-github {
  display: grid;
  align-self: end;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.student__portfolio {
  display: grid;
  gap: 50px;
}

.student__portfolio-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--color__gray);
}

.student__portfolio-list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.student__portfolio-item {
  min-height: 70px;
  position: relative;
  display: flex;
}
.student__portfolio-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #424242;
}
.student__portfolio-item:last-child::after {
  border: none;
}

.student__portfolio-link {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color__white);
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.student__portfolio-link::after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 0;
  background: url(../../images/icons/icon__link.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 17px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .student {
    padding: 90px 0 71px;
  }
  .student__about {
    grid-template-columns: 348px auto;
    justify-content: space-between;
    padding: 66px 0 91px;
  }
  .student__about-name {
    font-size: 40px;
    line-height: 40px;
  }
  .student__about-job {
    padding: 16px 0 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .student__about-desc {
    font-size: 12px;
    line-height: 18px;
  }
  .student__about-photo {
    max-width: 255px;
  }
  .student__portfolio-link {
    font-size: 28px;
  }
}
@media (max-width: 424px) {
  .student {
    padding: 70px 0 51px;
  }
  .student__about {
    grid-template-columns: 1fr;
    padding: 60px 0 70px;
    gap: 40px;
  }
  .student__about-text {
    order: 2;
  }
  .student__about-photo {
    order: 1;
    max-width: 100%;
  }
  .student__about-name {
    font-size: 30px;
    line-height: 36px;
  }
  .student__about-job {
    padding: 20px 0;
    font-size: 11px;
    line-height: 16px;
  }
  .student__about-desc {
    font-size: 11px;
    line-height: 16px;
  }
  .student__about-github {
    padding-top: 40px;
  }
  .student__portfolio {
    gap: 40px;
  }
  .student__portfolio-title {
    font-size: 14px;
    line-height: 20px;
  }
  .student__portfolio-item {
    min-height: 48px;
  }
  .student__portfolio-link {
    font-size: 18px;
    line-height: 28px;
  }
  .student__portfolio-link::after {
    width: 11px;
    height: 14px;
  }
  .student__portfolio-item::after {
    border-bottom: 1px solid #E6E6E6;
  }
}
/*============= STUDENT*/


/*FOOTER ================*/

.footer {
  padding: 79px 0 20px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--color__gray);
}

.footer__bot {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bot::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 1px solid #424242;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__project {
  display: flex;
  gap: 20px;
}

.footer__project-link {
  text-decoration: none;
  color: var(--color__white);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 424px) {
  .footer {
    padding: 79px 0 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer__copyright {
    order: 2;
    font-size: 12px;
    line-height: 15px;
    color: var(--color__gray);
  }
  .footer__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    order: 1;
  }
  .footer__project-link {
    font-size: 12px;
    line-height: 15px;
  }
}
/*================= FOOTER*/

@media (min-width: 425px) and (max-width: 725px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .student__portfolio-link {
    font-size: 24px;
  }
  .student__about {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .student__about-photo {
    order: 1;
    justify-self: center;
    max-width: 100%;
  }
  .student__about-text {
    order: 2;
  }
  .student__about-github {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
