/*MAIN ===================*/
.container-fluid {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: var(--width-container_1280);
  margin: 0 auto;
}

.section-title {
  display: flex;
  position: relative;
  min-height: 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--color__gray_light);
}

.theme_dark_blue {
  background: var(--color__blue_dark);
}

.theme_dark {
  background: var(--color__dark);
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: var(--width-container_768);
  }

  .container_size_big {
    max-width: var(--width-container_768_big);
  }
}

@media (max-width: 424px) {
  .container {
    max-width: var(--width-container_320);
  }

  .container_size_big {
    max-width: var(--width-container_320_big);
  }

  .section-title {
    font-size: 18px;
    line-height: 22px;
  }

  .theme_dark {
    background: transparent;
  }
}

@media (min-width: 425px) and (max-width: 725px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .student__portfolio-link {
    font-size: 24px;
  }

  .student__about {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .student__about-photo {
    order: 1;
    justify-self: center;
    max-width: 100%;
  }

  .student__about-text {
    order: 2;
  }

  .student__about-github {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*===================== MAIN*/
