/*MAIN ===================*/
.section-title {
  display: flex;
  position: relative;
  min-height: 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--color__gray_light);
}

.theme_dark_blue {
  background: var(--color__blue_dark);
}

.theme_dark {
  background: var(--color__dark);
}

@media (max-width: 424px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
  }

  .theme_dark {
    background: transparent;
  }
}
/*===================== MAIN*/
