.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1;
}

.header__nav-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  text-decoration: none;
  color: var(--color__white);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.header__nav-personal {
  position: relative;
  display: flex;
  gap: 17px;
  align-items: center;
  text-decoration: none;
  color: var(--color__white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__nav-personal::after {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  background: url(../../images/icons/icon__personal.svg) no-repeat;
  background-size: contain;
  width: 26px;
  height: 30px;
}

.header__burger-btn {
  display: grid;
  gap: 7px;
  cursor: pointer;
}

.header__burger-line {
  background: var(--color__white);
  height: 3px;
  width: 28px;
}

.header__burger-line:nth-child(1) {

}

.header__burger-line:nth-child(2) {

}

.header__burger-line:nth-child(3) {

}

@media (max-width: 768px) {
  .header_type_others {
    justify-content: space-between;
  }

  .header__nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
  }

  .header__nav {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    width: calc(100vw - 31%);
    height: 100vh;
    background: var(--color__black);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: -1;
  }

  .header__nav.active {
    opacity: 1;
    z-index: 100;
    transition: all 0.3s linear;
  }

  .header__nav-list {
    padding-top: 159px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .header__nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .header__nav-link_active {
    border-bottom: 2px solid var(--color__white);
  }

  .header__nav-personal {
    padding-bottom: 92px;
  }

  .header__burger-btn.active {
    z-index: 150;
    position: fixed;
    top: 30px;
    right: 30px;
    gap: 0;
  }

  .header__burger-btn.active .header__burger-line:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 3px;
  }

  .header__burger-btn.active .header__burger-line:nth-child(2) {
    display: none;
  }

  .header__burger-btn.active .header__burger-line:nth-child(3) {
    transform: rotate(-45deg);
  }
}

@media (min-width: 769px) {
  .header__burger-btn {
    display: none;
  }
}

@media (max-width: 424px) {
  .header__nav {
    width: 100vw;
  }

  .header__nav-list {
    padding-top: 144px;
    gap: 24px;
  }

  .header__nav-personal {
    padding-bottom: 48px;
  }
}
