/*SEARCH ======================*/
.search {
  padding: 70px 0 49px;
}

.search__form {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search__input {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color__white);
  text-align: center;
  align-self: center;
  border-bottom: 1px solid #424242;
}

.search__label {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
}

.search__icon {
  width: 34px;
  height: 34px;
}

.search__input::placeholder {
  color: var(--color__gray);
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.search__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search__input:focus::-moz-placeholder {
  color: transparent;
}

.search__input:focus:-moz-placeholder {
  color: transparent;
}

.search__input:focus:-ms-input-placeholder {
  color: transparent;
}

.search__button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
}

@media (max-width: 424px) {
  .search__label {
    display: none;
  }

  .search__input {
    text-align: left;
    height: 53px;
  }

  .search__input::placeholder {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
/*======================== SEARCH*/
