.auth {
  display: grid;
  gap: 40px;
  max-width: 396px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.auth__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__form_type_registerForm {
  gap: 69px;
}

.auth__form_type_loginForm {
  gap: 179px;
}

.auth__field-wrap {
  display: grid;
  gap: 20px;
  margin: 0;
  border: 0;
  padding: 0;
}

.auth__field-wrap_type_buttons {
  gap: 16px;
}

.auth__field {
  position: relative;
  display: grid;
}

.auth__input-name {
  color: var(--color__gray);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding: 0 0 10px;
  margin: 0;
}

.auth__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--color__white);
  background: #2F2F2F;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 15px;
}

.auth__input_type_error {
  color: var(--color__red);
}

.auth__input:focus-visible {
  outline: 1px solid var(--color__white);
}

.auth__error {
  position: absolute;
  opacity: 0;
  top: calc(100% + 10px);
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--color__red);
  transition: .3s;
}

.auth__error_active {
  opacity: 1;
}

.auth__button {
  width: 100%;
  height: 45px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: var(--color__blue);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--color__white);
  cursor: pointer;
}

.auth__alt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color__gray);
  text-align: center;
}

.auth__link {
  text-decoration: none;
  color: var(--color__blue);
}

@media (max-width: 424px) {
  .auth {
    max-width: 260px;
    padding-top: 56px;
    padding-bottom: 30px;
    gap: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .auth__title {
    text-align: center;
    padding: 50px 0 80px;
  }

  .auth__form_type_registerForm {
    gap: 179px;
    justify-content: space-between;
  }

  .auth__form_type_loginForm {
    gap: 267px;
    justify-content: space-between;
  }

  .auth__button {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__alt {
    font-size: 12px;
    line-height: 15px;
  }
}
