/*HEADER ==============*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

.header__logo {
  background: url(../../images/logo.svg) no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
  transition: .2s ease;
}
/*============ HEADER*/
