/*FOOTER ================*/
.footer {
  padding: 79px 0 20px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--color__gray);
}

.footer__bot {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__bot::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 1px solid #424242;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__project {
  display: flex;
  gap: 20px;
}

.footer__project-link {
  text-decoration: none;
  color: var(--color__white);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 424px) {
  .footer {
    padding: 79px 0 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__copyright {
    order: 2;
    font-size: 12px;
    line-height: 15px;
    color: var(--color__gray);
  }

  .footer__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    order: 1;
  }

  .footer__project-link {
    font-size: 12px;
    line-height: 15px;
  }
}
/*================= FOOTER*/
